/* Iconify Icons - Generated automatically */
/* Only includes icons used in the project */

.icon-material-symbols-calendar-today {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M5%2022q-.825%200-1.412-.587T3%2020V6q0-.825.588-1.412T5%204h1V2h2v2h8V2h2v2h1q.825%200%201.413.588T21%206v14q0%20.825-.587%201.413T19%2022zm0-2h14V10H5z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-schedule {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m15.3%2016.7l1.4-1.4l-3.7-3.7V7h-2v5.4zM12%2022q-2.075%200-3.9-.788t-3.175-2.137T2.788%2015.9T2%2012t.788-3.9t2.137-3.175T8.1%202.788T12%202t3.9.788t3.175%202.137T21.213%208.1T22%2012t-.788%203.9t-2.137%203.175t-3.175%202.138T12%2022%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-mdi-github {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%202A10%2010%200%200%200%202%2012c0%204.42%202.87%208.17%206.84%209.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1%20.07%201.53%201.03%201.53%201.03c.87%201.52%202.34%201.07%202.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2%201.03-2.71c-.1-.25-.45-1.29.1-2.64c0%200%20.84-.27%202.75%201.02c.79-.22%201.65-.33%202.5-.33s1.71.11%202.5.33c1.91-1.29%202.75-1.02%202.75-1.02c.55%201.35.2%202.39.1%202.64c.65.71%201.03%201.6%201.03%202.71c0%203.82-2.34%204.66-4.57%204.91c.36.31.69.92.69%201.85V21c0%20.27.16.59.67.5C19.14%2020.16%2022%2016.42%2022%2012A10%2010%200%200%200%2012%202%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-mdi-linkedin {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M19%203a2%202%200%200%201%202%202v14a2%202%200%200%201-2%202H5a2%202%200%200%201-2-2V5a2%202%200%200%201%202-2zm-.5%2015.5v-5.3a3.26%203.26%200%200%200-3.26-3.26c-.85%200-1.84.52-2.32%201.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4%201.39-1.4a1.4%201.4%200%200%201%201.4%201.4v4.93zM6.88%208.56a1.68%201.68%200%200%200%201.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69%201.69%200%200%200-1.69%201.69c0%20.93.76%201.68%201.69%201.68m1.39%209.94v-8.37H5.5v8.37z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-mail-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M4%2020q-.825%200-1.412-.587T2%2018V6q0-.825.588-1.412T4%204h16q.825%200%201.413.588T22%206v12q0%20.825-.587%201.413T20%2020zm8-7L4%208v10h16V8zm0-2l8-5H4zM4%208V6v12z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-content-copy {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M9%2018q-.825%200-1.412-.587T7%2016V4q0-.825.588-1.412T9%202h9q.825%200%201.413.588T20%204v12q0%20.825-.587%201.413T18%2018zm-4%204q-.825%200-1.412-.587T3%2020V6h2v14h11v2z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-public {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%2022q-2.075%200-3.9-.788t-3.175-2.137T2.788%2015.9T2%2012t.788-3.9t2.137-3.175T8.1%202.788T12%202t3.9.788t3.175%202.137T21.213%208.1T22%2012t-.788%203.9t-2.137%203.175t-3.175%202.138T12%2022m-1-2.05V18q-.825%200-1.412-.587T9%2016v-1l-4.8-4.8q-.075.45-.137.9T4%2012q0%203.025%201.988%205.3T11%2019.95m6.9-2.55q1.025-1.125%201.563-2.512T20%2012q0-2.45-1.362-4.475T15%204.6V5q0%20.825-.587%201.413T13%207h-2v2q0%20.425-.288.713T10%2010H8v2h6q.425%200%20.713.288T15%2013v3h1q.65%200%201.175.388T17.9%2017.4%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-rss-feed {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M5%2021q-.825%200-1.412-.587T3%2019t.588-1.412T5%2017t1.413.588T7%2019t-.587%201.413T5%2021m12%200q0-2.925-1.1-5.462t-3-4.438t-4.437-3T3%207V4q3.55%200%206.625%201.325t5.4%203.65t3.65%205.4T20%2021zm-6%200q0-1.675-.625-3.113T8.65%2015.35t-2.537-1.725T3%2013v-3q2.3%200%204.288.863t3.487%202.362t2.363%203.488T14%2021z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-alternate-email {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%2022q-2.075%200-3.9-.788t-3.175-2.137T2.788%2015.9T2%2012t.788-3.9t2.137-3.175T8.1%202.788T12%202t3.9.788t3.175%202.137T21.213%208.1T22%2012v1.45q0%201.475-1.012%202.513T18.5%2017q-.875%200-1.65-.375t-1.3-1.075q-.725.725-1.638%201.088T12%2017q-2.075%200-3.537-1.463T7%2012t1.463-3.537T12%207t3.538%201.463T17%2012v1.45q0%20.65.425%201.1T18.5%2015t1.075-.45t.425-1.1V12q0-3.35-2.325-5.675T12%204T6.325%206.325T4%2012t2.325%205.675T12%2020h5v2zm0-7q1.25%200%202.125-.875T15%2012t-.875-2.125T12%209t-2.125.875T9%2012t.875%202.125T12%2015%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-chevron-left {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m14%2018l-6-6l6-6l1.4%201.4l-4.6%204.6l4.6%204.6z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-chevron-right {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12.6%2012L8%207.4L9.4%206l6%206l-6%206L8%2016.6z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-search {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m19.6%2021l-6.3-6.3q-.75.6-1.725.95T9.5%2016q-2.725%200-4.612-1.888T3%209.5t1.888-4.612T9.5%203t4.613%201.888T16%209.5q0%201.1-.35%202.075T14.7%2013.3l6.3%206.3zM9.5%2014q1.875%200%203.188-1.312T14%209.5t-1.312-3.187T9.5%205T6.313%206.313T5%209.5t1.313%203.188T9.5%2014%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-dark-mode {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%2021q-3.75%200-6.375-2.625T3%2012t2.625-6.375T12%203q.35%200%20.688.025t.662.075q-1.025.725-1.638%201.888T11.1%207.5q0%202.25%201.575%203.825T16.5%2012.9q1.375%200%202.525-.613T20.9%2010.65q.05.325.075.662T21%2012q0%203.75-2.625%206.375T12%2021%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-search-off {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M7%2022q-2.075%200-3.537-1.463T2%2017t1.463-3.537T7%2012t3.538%201.463T12%2017t-1.463%203.538T7%2022m13.6-1l-6.4-6.4q-.3-.325-.637-.662T12.9%2013.3q.95-.6%201.525-1.6T15%209.5q0-1.875-1.312-3.187T10.5%205T7.313%206.313T6%209.5q0%20.15.013.288t.037.287q-.45.05-.987.2t-.963.35q-.05-.275-.075-.55T4%209.5q0-2.725%201.888-4.612T10.5%203t4.613%201.888T17%209.5q0%201.075-.337%202.038t-.938%201.762L22%2019.6zM5.225%2019.475L7%2017.7l1.75%201.775l.725-.7L7.7%2017l1.775-1.775l-.7-.7L7%2016.3l-1.775-1.775l-.7.7L6.3%2017l-1.775%201.775z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-home-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M6%2019h3v-6h6v6h3v-9l-6-4.5L6%2010zm-2%202V9l8-6l8%206v12h-7v-6h-2v6zm8-8.75%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-arrow-back {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m7.825%2013l5.6%205.6L12%2020l-8-8l8-8l1.425%201.4l-5.6%205.6H20v2z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-download {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m12%2016l-5-5l1.4-1.45l2.6%202.6V4h2v8.15l2.6-2.6L17%2011zm-6%204q-.825%200-1.412-.587T4%2018v-3h2v3h12v-3h2v3q0%20.825-.587%201.413T18%2020z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-code {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m8%2018l-6-6l6-6l1.425%201.425l-4.6%204.6L9.4%2016.6zm8%200l-1.425-1.425l4.6-4.6L14.6%207.4L16%206l6%206z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-work-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M4%2021q-.825%200-1.412-.587T2%2019V8q0-.825.588-1.412T4%206h4V4q0-.825.588-1.412T10%202h4q.825%200%201.413.588T16%204v2h4q.825%200%201.413.588T22%208v11q0%20.825-.587%201.413T20%2021zm0-2h16V8H4zm6-13h4V4h-4zM4%2019V8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-rocket-launch {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m2.45%2010.575l4.2-4.2q.35-.35.825-.5t.975-.05l1.3.275Q8.4%207.7%207.625%209t-1.5%203.15zm5.125%202.275q.575-1.8%201.563-3.4t2.387-3q2.2-2.2%205.025-3.287t5.275-.663q.425%202.45-.65%205.275T17.9%2012.8q-1.375%201.375-3%202.388t-3.425%201.587zm6.9-3q.575.575%201.413.575T17.3%209.85t.575-1.412t-.575-1.413t-1.412-.575t-1.413.575t-.575%201.413t.575%201.412m-.7%2012.025l-1.6-3.675q1.85-.725%203.163-1.5t2.912-2.125l.25%201.3q.1.5-.05.988t-.5.837zM4.05%2016.05q.875-.875%202.125-.888t2.125.863t.875%202.125t-.875%202.125q-.625.625-2.087%201.075t-4.038.8q.35-2.575.8-4.025T4.05%2016.05%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-share-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M17%2022q-1.25%200-2.125-.875T14%2019q0-.15.075-.7L7.05%2014.2q-.4.375-.925.588T5%2015q-1.25%200-2.125-.875T2%2012t.875-2.125T5%209q.6%200%201.125.213t.925.587l7.025-4.1q-.05-.175-.062-.337T14%205q0-1.25.875-2.125T17%202t2.125.875T20%205t-.875%202.125T17%208q-.6%200-1.125-.213T14.95%207.2l-7.025%204.1q.05.175.063.338T8%2012t-.012.363t-.063.337l7.025%204.1q.4-.375.925-.587T17%2016q1.25%200%202.125.875T20%2019t-.875%202.125T17%2022m0-2q.425%200%20.713-.287T18%2019t-.288-.712T17%2018t-.712.288T16%2019t.288.713T17%2020M5%2013q.425%200%20.713-.288T6%2012t-.288-.712T5%2011t-.712.288T4%2012t.288.713T5%2013m12-7q.425%200%20.713-.288T18%205t-.288-.712T17%204t-.712.288T16%205t.288.713T17%206m0-1%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-favorite-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m12%2021l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75%2012.812T2.388%2010.4T2%208.15Q2%205.8%203.575%204.225T7.5%202.65q1.3%200%202.475.55T12%204.75q.85-1%202.025-1.55t2.475-.55q2.35%200%203.925%201.575T22%208.15q0%201.15-.387%202.25t-1.363%202.412t-2.625%202.963T13.45%2019.7zm0-2.7q2.4-2.15%203.95-3.687t2.45-2.675t1.25-2.026T20%208.15q0-1.5-1-2.5t-2.5-1q-1.175%200-2.175.662T12.95%207h-1.9q-.375-1.025-1.375-1.687T7.5%204.65q-1.5%200-2.5%201t-1%202.5q0%20.875.35%201.763t1.25%202.025t2.45%202.675T12%2018.3m0-6.825%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-bookmark-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M5%2021V5q0-.825.588-1.412T7%203h10q.825%200%201.413.588T19%205v16l-7-3zm2-3.05l5-2.15l5%202.15V5H7zM7%205h10z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-verified {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m8.6%2022.5l-1.9-3.2l-3.6-.8l.35-3.7L1%2012l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12%202.95l3.4-1.45l1.9%203.2l3.6.8l-.35%203.7L23%2012l-2.45%202.8l.35%203.7l-3.6.8l-1.9%203.2l-3.4-1.45zm2.35-6.95L16.6%209.9l-1.4-1.45l-4.25%204.25l-2.15-2.1L7.4%2012z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-material-symbols-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M6.4%2019L5%2017.6l5.6-5.6L5%206.4L6.4%205l5.6%205.6L17.6%205L19%206.4L13.4%2012l5.6%205.6l-1.4%201.4l-5.6-5.6z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

